# Supabase Configuration File
# https://supabase.com/docs/guides/cli/config

project_id = "poguqhsxcggonechhsnu"

[api]
enabled = true
port = 54321
max_rows = 1000

[db]
port = 54322
shadow_port = 54320
major_version = 15

[studio]
enabled = true
port = 54323

[auth]
enabled = true
site_url = "http://localhost:3000"
additional_redirect_urls = []
jwt_expiry = 3600

[edge_runtime]
enabled = true
port = 54325
